.side-page {
  width: 15%;
  min-height: 100vh;
  box-shadow: 3px 0px 4px 0px rgba(212, 210, 212, 1);
  z-index: 1;
  position: fixed;
  top: 66px;
  background-color: white;
}

#team-member {
  margin-top: 20px;
  display: flex;
}

.team-logo {
  width: 22px;
  height: 16px;
}

svg {
  margin-left: 15px;
  margin-right: 7px;
}

.nav-div {
  display: flex;
  font-family: "Open Sans";
  font-optical-sizing: auto;
  font-weight: 600;
  size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  align-items: center;
  cursor: pointer;
}

.createProfile-logo {
  width: 24px;
  height: 24px;
  margin-right: 7px;
  margin-left: 15px;
}

a {
  text-decoration: none;
}

.active-nav-div {
  background-color: #eee9fe;
  color: #561ee7;
}

.inactive-nav-div {
  color: #667085;
}

.sidePageLogout_Btn {
  position: absolute;
  bottom: 0;
  left: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 90%;
}

#sidePagelogout_Img {
  width: 24px;
  height: 24px;
}

#sidePagelogout_text {
  font-family: "Open Sans";
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #667085;
}

/* Media Queries*/

@media only screen and ((min-width: 800px)) and (max-device-width: 1025px) {
  .side-page {
    width: 25%;
  }
}

/* @media only screen and (max-device-width: 800px) {
  .side-page {
    width: 32%;
  }
} */

@media only screen and (max-device-width: 800px) {
  .mobile-side-page {
    background: white;
    width: 75%;
    min-height: 100vh;
    z-index: 1;

    top: 0;
    left: 0;
    position: fixed;
  }

  .side-page {
    display: none;
  }

  .mob-uolo-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
  }

  .mob-uolo-img {
    width: 95.03px;
    height: 32px;
  }
}
