.ServiceDownContainer{
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100vh;
}

.ServiceDownMessageBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    flex-direction: column;
}

#serviceDownImg {
    width: 50%;
}